# Question 1

In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [3]:
df = pd.read_csv('tips.csv')

In [4]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  244 non-null    int64
 1   total_bill  205 non-null    float64
 2   tip         244 non-null    float64
 3   sex         244 non-null    object
 4   smoker      244 non-null    object
 5   day         244 non-null    object
 6   time        244 non-null    object
 7   size        244 non-null    int64
dtypes: float64(2), int64(2), object(4)
memory usage: 15.4+ KB
None

In [5]:
print(df.isnull().sum())

Unnamed: 0     0
total_bill    39
tip            0
sex            0
smoker         0
day            0
time           0
size           0
dtype: int64

In [6]:
# Numerical columns: 'total_bill' and 'tip' that have numerical values
# impute the null values with the mean values of of the columns 'total_bill' and 'tip'
df['total_bill'].fillna(df['total_bill'].mean(), inplace=True)
df['tip'].fillna(df['tip'].mean(), inplace=True)

# Categorical columns: 'sex', 'smoker', 'day', 'time' that are classified into true and false categories
# impute with the mode (most frequent value) of each column
df['sex'].fillna(df['sex'].mode()[0], inplace=True)
df['smoker'].fillna(df['smoker'].mode()[0], inplace=True)
df['day'].fillna(df['day'].mode()[0], inplace=True)
df['time'].fillna(df['time'].mode()[0], inplace=True)

In [7]:
print("\nMissing values after handling:")
print(df.isnull().sum())

Missing values after handling:
Unnamed: 0    0
total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

# Question 2

In [8]:
# Categorical columns: 'sex', 'smoker', 'day', 'time'

# Label Encoding
label_encoder = LabelEncoder()
df['sex_label_encoded'] = label_encoder.fit_transform(df['sex'])
df['smoker_label_encoded'] = label_encoder.fit_transform(df['smoker'])

# One-Hot Encoding
one_hot_encoded = pd.get_dummies(df[['day', 'time']])
df = pd.concat([df, one_hot_encoded], axis=1)

# Ordinal Encoding 
ordinal_mapping = {'Thur': 0, 'Fri': 1, 'Sat': 2, 'Sun': 3}
df['day_ordinal_encoded'] = df['day'].map(ordinal_mapping)

# Dropping original categorical columns after encoding
df.drop(['sex', 'smoker', 'day', 'time'], axis=1, inplace=True)

print(df)

     Unnamed: 0  total_bill   tip  size  sex_label_encoded  \
0             0   16.990000  1.01     2                  0
1             1   21.360195  1.66     3                  1
2             2   21.010000  3.50     3                  1
3             3   23.680000  3.31     2                  1
4             4   24.590000  3.61     4                  0
..          ...         ...   ...   ...                ...
239         239   29.030000  5.92     3                  1
240         240   27.180000  2.00     2                  0
241         241   22.670000  2.00     2                  1
242         242   17.820000  1.75     2                  1
243         243   18.780000  3.00     2                  0

     smoker_label_encoded  day_Fri  day_Sat  day_Sun  day_Thur  time_Dinner  \
0                       0        0        0        1         0            1
1                       0        0        0        1         0            1
2                       0        0        0        1         0            1
3                       0        0        0        1         0            1
4                       0        0        0        1         0            1
..                    ...      ...      ...      ...       ...          ...
239                     0        0        1        0         0            1
240                     1        0        1        0         0            1
241                     1        0        1        0         0            1
242                     0        0        1        0         0            1
243                     0        0        0        0         1            1

     time_Lunch  day_ordinal_encoded
0             0                    3
1             0                    3
2             0                    3
3             0                    3
4             0                    3
..          ...                  ...
239           0                    2
240           0                    2
241           0                    2
242           0                    2
243           0                    0

[244 rows x 13 columns]

# Question 3

In [33]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler

# Min-Max Normalization
min_max_scaler = MinMaxScaler()
tips_min_max_scaled = min_max_scaler.fit_transform(df[['total_bill', 'tip', 'size']])
tips_min_max_scaled = pd.DataFrame(tips_min_max_scaled, columns=['total_bill_mm', 'tip_mm', 'size_mm'])

# Standardization (Z-score)
standard_scaler = StandardScaler()
tips_standard_scaled = standard_scaler.fit_transform(df[['total_bill', 'tip', 'size']])
tips_standard_scaled = pd.DataFrame(tips_standard_scaled, columns=['total_bill_std', 'tip_std', 'size_std'])

# Z-score scaling
z_score_scaled = (df[['total_bill', 'tip', 'size']] - df[['total_bill', 'tip', 'size']].mean()) / df[['total_bill', 'tip', 'size']].std()
z_score_scaled.columns = ['total_bill_z', 'tip_z', 'size_z']

# Concatenating the scaled features to the original DataFrame
tips_scaled = pd.concat([df, tips_min_max_scaled, tips_standard_scaled, z_score_scaled], axis=1)

print(tips_scaled)

     Unnamed: 0  total_bill   tip  size  sex_label_encoded  \
0             0   16.990000  1.01     2                  0
1             1   21.360195  1.66     3                  1
2             2   21.010000  3.50     3                  1
3             3   23.680000  3.31     2                  1
4             4   24.590000  3.61     4                  0
..          ...         ...   ...   ...                ...
239         239   29.030000  5.92     3                  1
240         240   27.180000  2.00     2                  0
241         241   22.670000  2.00     2                  1
242         242   17.820000  1.75     2                  1
243         243   18.780000  3.00     2                  0

     smoker_label_encoded  day_Fri  day_Sat  day_Sun  day_Thur  ...  \
0                       0        0        0        1         0  ...
1                       0        0        0        1         0  ...
2                       0        0        0        1         0  ...
3                       0        0        0        1         0  ...
4                       0        0        0        1         0  ...
..                    ...      ...      ...      ...       ...  ...
239                     0        0        1        0         0  ...
240                     1        0        1        0         0  ...
241                     1        0        1        0         0  ...
242                     0        0        1        0         0  ...
243                     0        0        0        0         1  ...

     day_ordinal_encoded  total_bill_mm    tip_mm  size_mm  total_bill_std  \
0                      3       0.291579  0.001111      0.2       -0.538972
1                      3       0.383121  0.073333      0.4        0.000000
2                      3       0.375786  0.277778      0.4       -0.043189
3                      3       0.431713  0.256667      0.2        0.286099
4                      3       0.450775  0.290000      0.6        0.398329
..                   ...            ...       ...      ...             ...
239                    2       0.543779  0.546667      0.4        0.945909
240                    2       0.505027  0.111111      0.2        0.717751
241                    2       0.410557  0.111111      0.2        0.161537
242                    2       0.308965  0.083333      0.2       -0.436609
243                    0       0.329074  0.222222      0.2       -0.318213

      tip_std  size_std  total_bill_z     tip_z    size_z
0   -1.439947 -0.600193     -0.537866 -1.436993 -0.598961
1   -0.969205  0.453383      0.000000 -0.967217  0.452453
2    0.363356  0.453383     -0.043101  0.362610  0.452453
3    0.225754 -0.600193      0.285512  0.225291 -0.598961
4    0.443020  1.506958      0.397511  0.442111  1.503867
..        ...       ...           ...       ...       ...
239  2.115963  0.453383      0.943969  2.111622  0.452453
240 -0.722971 -0.600193      0.716278 -0.721488 -0.598961
241 -0.722971 -0.600193      0.161206 -0.721488 -0.598961
242 -0.904026 -0.600193     -0.435713 -0.902171 -0.598961
243  0.001247 -0.600193     -0.317560  0.001244 -0.598961

[244 rows x 22 columns]

# Question 4

In [35]:
# Calculate tip percentage for each row
df['tip_percentage'] = (df['tip'] / df['total_bill']) * 100

# Group by dining party size and calculate the average tip percentage
average_tip_percentage_by_size = df.groupby('size')['tip_percentage'].mean().reset_index()
average_tip_percentage_by_size.columns = ['size', 'avg_tip_percentage']

# Merge the average tip percentage with the original DataFrame
tips_with_avg_tip_percentage = pd.merge(df, average_tip_percentage_by_size, on='size', how='left')

print(tips_with_avg_tip_percentage)

     Unnamed: 0  total_bill   tip  size  sex_label_encoded  \
0             0   16.990000  1.01     2                  0
1             1   21.360195  1.66     3                  1
2             2   21.010000  3.50     3                  1
3             3   23.680000  3.31     2                  1
4             4   24.590000  3.61     4                  0
..          ...         ...   ...   ...                ...
239         239   29.030000  5.92     3                  1
240         240   27.180000  2.00     2                  0
241         241   22.670000  2.00     2                  1
242         242   17.820000  1.75     2                  1
243         243   18.780000  3.00     2                  0

     smoker_label_encoded  day_Fri  day_Sat  day_Sun  day_Thur  time_Dinner  \
0                       0        0        0        1         0            1
1                       0        0        0        1         0            1
2                       0        0        0        1         0            1
3                       0        0        0        1         0            1
4                       0        0        0        1         0            1
..                    ...      ...      ...      ...       ...          ...
239                     0        0        1        0         0            1
240                     1        0        1        0         0            1
241                     1        0        1        0         0            1
242                     0        0        1        0         0            1
243                     0        0        0        0         1            1

     time_Lunch  day_ordinal_encoded  tip_percentage  avg_tip_percentage
0             0                    3        5.944673           14.824175
1             0                    3        7.771465           14.778030
2             0                    3       16.658734           14.778030
3             0                    3       13.978041           14.824175
4             0                    3       14.680765           14.594901
..          ...                  ...             ...                 ...
239           0                    2       20.392697           14.778030
240           0                    2        7.358352           14.824175
241           0                    2        8.822232           14.824175
242           0                    2        9.820426           14.824175
243           0                    0       15.974441           14.824175

[244 rows x 15 columns]

# Question 5

In [36]:
df['bill_type'] = 'Normal-bills'
df.loc[(df['total_bill'] > 10) & (df['tip'] > 3), 'bill_type'] = 'Highest-bills-with-tips'

print(df)

     Unnamed: 0  total_bill   tip  size  sex_label_encoded  \
0             0   16.990000  1.01     2                  0
1             1   21.360195  1.66     3                  1
2             2   21.010000  3.50     3                  1
3             3   23.680000  3.31     2                  1
4             4   24.590000  3.61     4                  0
..          ...         ...   ...   ...                ...
239         239   29.030000  5.92     3                  1
240         240   27.180000  2.00     2                  0
241         241   22.670000  2.00     2                  1
242         242   17.820000  1.75     2                  1
243         243   18.780000  3.00     2                  0

     smoker_label_encoded  day_Fri  day_Sat  day_Sun  day_Thur  time_Dinner  \
0                       0        0        0        1         0            1
1                       0        0        0        1         0            1
2                       0        0        0        1         0            1
3                       0        0        0        1         0            1
4                       0        0        0        1         0            1
..                    ...      ...      ...      ...       ...          ...
239                     0        0        1        0         0            1
240                     1        0        1        0         0            1
241                     1        0        1        0         0            1
242                     0        0        1        0         0            1
243                     0        0        0        0         1            1

     time_Lunch  day_ordinal_encoded  tip_percentage                bill_type
0             0                    3        5.944673             Normal-bills
1             0                    3        7.771465             Normal-bills
2             0                    3       16.658734  Highest-bills-with-tips
3             0                    3       13.978041  Highest-bills-with-tips
4             0                    3       14.680765  Highest-bills-with-tips
..          ...                  ...             ...                      ...
239           0                    2       20.392697  Highest-bills-with-tips
240           0                    2        7.358352             Normal-bills
241           0                    2        8.822232             Normal-bills
242           0                    2        9.820426             Normal-bills
243           0                    0       15.974441             Normal-bills

[244 rows x 15 columns]